#numpy
pandas
python-dotenv
#mysql-connector-python
#pymysql
scikit-learn
seaborn
matplotlib
#warnings
catboost
xgboost
dataclasses

dill
#mlflow==2.2.2
transformers
transformers[sentencepiece]
datasets
rouge-score
sacrebleu
torch
nltk
matplotlib
py7zr
tqdm
notebook
boto3
mypy-boto3-s3
python-box
ensure
uvicorn
fastapi
Jinja2
setuptools


-e .